---
import { getCollection, type CollectionEntry } from 'astro:content';
import MainLayout from '../layouts/MainLayout.astro';
import Post from '../components/Post.astro';
import { CATEGORIES } from '../consts';

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return CATEGORIES.map((category) => ({
    params: { category },
    props: posts.filter((post) => post.data.category?.includes(category)),
  }));
}

type Props = CollectionEntry<'blog'>[];

const posts = Object.values(Astro.props);
---

<MainLayout>
  <section class:list={[{ grid: Boolean(posts.length) }]}>
    {
      posts.length ? (
        posts.map((post) => <Post id={post.id} data={post.data} />)
      ) : (
        <h2>Mwihangane ntabwo dushoboye kubona inkuru muri gushaka!</h2>
      )
    }
  </section>
</MainLayout>
<style>
  section.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: 1rem;
  }
</style>
