---
import { getCollection } from 'astro:content';
import MainLayout from '../layouts/MainLayout.astro';
import Post from '../components/Post.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<MainLayout>
  <section>
    {posts.map((post) => <Post id={post.id} data={post.data} />)}
  </section>
</MainLayout>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: 1rem;
  }
</style>
