---
import { SITE_TITLE, CATEGORIES } from '../consts';
---

<header>
  <nav>
    <ul>
      <li>
        <a href="/">
          <strong>{SITE_TITLE}</strong>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <details class="dropdown">
          <summary>Menu</summary>
          <ul dir="rtl">
            {
              CATEGORIES.map((category) => (
                <li>
                  <a href=`${category}` class="contrast">
                    {category[0].toUpperCase() + category.slice(1)}
                  </a>
                </li>
              ))
            }
          </ul>
        </details>
      </li>
    </ul>
  </nav>
</header>
