---
import { SITE_TITLE } from '../consts';

const LINKS = ['Ahabanza', 'Politiki', 'Ubukungu', 'Imyidagaduro', 'Siporo'];
---

<header>
  <nav>
    <ul>
      <li>
        <a href="/">
          <strong>{SITE_TITLE}</strong>
        </a>
      </li>
    </ul>
    <ul class="responsive">
      {
        LINKS.map((link) => (
          <li>
            <a href="/" class="contrast">
              {link}
            </a>
          </li>
        ))
      }
      <li class="small-only">
        <details class="dropdown">
          <summary>Menu</summary>
          <ul dir="rtl">
            {
              LINKS.map((link) => (
                <li>
                  <a href="/" class="contrast">
                    {link}
                  </a>
                </li>
              ))
            }
          </ul>
        </details>
      </li>
    </ul>
  </nav>
</header>
