---
import type { InferEntrySchema } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

interface Props {
  id: string;
  data: InferEntrySchema<'blog'>;
}

const { id, data } = Astro.props;
---

<a href={`/${id}`}>
  <img src={data.heroImage} alt="" />
  <div class="data">
    <h5 class="title">{data.title}</h5>
    <FormattedDate date={data.pubDate} />
  </div>
</a>

<style>
  a {
    text-decoration: none;
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 0.5rem;
  }

  .data h5 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
  }
</style>
